*{
    border: 0;
    margin: 0;
}

.right-container{
    height: 100vh;
    background-color: #0f161e;
    position: relative;
}
.bubble{
    max-width: 50%;
    background-color: #454e4e;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 7px;
    width: fit-content;
    color: white;
    font-size: 17px;
    margin: 6px 0px;
    font-family: 'Roboto';
    /* display: flex;
    justify-content: space-between; */
}

.time-ago{
    color: #959595;
    font-size: 13px;
}

.bubble-text{
    margin-bottom: 8px;
    text-align: start;
}

.bubble-space{
    display: flex;
    flex-direction: row;
    background: transparent;
    position: relative;
    z-index: 2;
}

.bubble-space-rev{
    display: flex;
    flex-direction: row-reverse;
    background: transparent;
    position: relative;
    z-index: 2;
}

.chat-area{
    height:  80%;
    padding: 1px 20px;
    overflow-y: auto;
    background: transparent;
}

.short-info{
    display: flex;
    justify-content: space-between;
}

.time-ago{
    color: #ababab;
}

.photo-icon{
    color: rgb(202 202 202);
}

.profile-img-div{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.profile-name{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto';
    margin-top: 3rem;
    border: 3px solid #c4c35f;
    color: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.profile-email{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto';
    margin-top: 3rem;
    border: 3px solid #c4c35f;
    color: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.container-convtype{
    width: 34%;
    color: #3befff;
    font-size: 21px;
    font-family: math;
    margin-left: 6px;
    margin-top: 10px;
    background: #3f4453;
    border-radius: 13px;
}
.message-sender{
    font-size: 14px;
    color: rgb(15 193 255);
    margin-bottom: 6px;
}
.available-users{
    position: relative;
    background: rgb(17,27,33);
    color: white;
}

.css-tlc64q-MuiPaper-root-MuiDialog-paper{
    position: absolute !important;
    left: 33px !important;
    margin: 0 !important;
    max-width: 28% !important;
}

.drawer-button{
    color: #3a95f3;
}

.drawer-settings{
    color: #2963ff;
    font-size: 17px;
    font-weight: 500;
}
.drawer-menu{
    background-color: #3d4144;
}

.chat-background{
    width: 96%;
    z-index: 1;
    position: absolute;
    right: 29px;
    top: 80px;
}

.login-background{
    width: 100%;
}

.signup-background{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    height: 100vh;
}

.glass-effect-signup{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.send-button{
    background-color: #2a3942 !important;
}

.send-button:hover{
    background-color: #465c69 !important;
}

.profile-avatar{
    width: 120px !important;
    height: 120px !important;
}