*{
    border: 0;
    margin: 0;
}

.right-container{
    background-color: rgb(245 239 206);
    height: 100vh;
}
.bubble{
    max-width: 50%;
    background-color: #454e4e;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 7px;
    width: fit-content;
    color: white;
    font-size: 17px;
    margin: 6px 0px;
    font-family: 'Roboto';
    /* display: flex;
    justify-content: space-between; */
}

.time-ago{
    color: #959595;
    font-size: 13px;
}

.bubble-text{
    margin-bottom: 8px;
    text-align: start;
}

.bubble-space{
    display: flex;
    flex-direction: row;
}

.bubble-space-rev{
    display: flex;
    flex-direction: row-reverse;
}

.chat-area{
    height: 79vh;
    padding: 1px 20px;
    background-color: #daffe9;
    overflow-y: scroll;
}

.short-info{
    display: flex;
    justify-content: space-between;
}

.time-ago{
    color: white;
}

.profile-img-div{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.profile-name{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 33px;
    font-family: 'Roboto';
    border-radius: 10px;
    border: 3px solid #4685e4;
}

.profile-email{
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2rem;
    font-size: 33px;
    font-family: 'Roboto';
    border-radius: 10px;
    border: 3px solid #4685e4;
}

.message-sender{
    font-size: 14px;
    color: rgb(246 236 78);
    margin-bottom: 6px;
}
.available-users{
    position: relative;
}

.css-tlc64q-MuiPaper-root-MuiDialog-paper{
    position: absolute !important;
    left: 33px !important;
    margin: 0 !important;
    max-width: 28% !important;
}

.drawer-button{
    color: #3a95f3;
}

.drawer-settings{
    color: #2963ff;
    font-size: 17px;
    font-weight: 500;
}
.drawer-menu{
    background-color: #3d4144;
}